@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300&display=swap');

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  background-color: #f0f0f0;
}
.scan{
  position: relative;
}
.scan .box-demo{
  position: absolute;
  z-index: 200;
  top: 50%;
  left: 50%;
  width: 70%;
  aspect-ratio: 1;
  transform: translate(-50%, -50%);
  background-color: transparent;
  border-radius: 10px;
  /* Adjust the border-radius value to control the roundness of the corners */
  color: #fff;
  text-align: center;
}
.scan .box-detect{
  position: absolute;
  z-index: 200;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}
.box-demo #top-left {
  position: absolute;
  transform: rotate(180deg);
  top: -3px;
  left: -3px;
}
.text-demo{
  color:#fff;
  position: absolute;
  top: 10%;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 16px;
  
}

.box-demo #top-right {
  position: absolute;
  transform: rotate(-90deg);
  top: -3px;
  right: -3px;
}

.box-demo #bottom-left {
  position: absolute;
  transform: rotate(90deg);
  bottom: -3px;
  left: -3px;
}

.box-demo #bottom-right {
  position: absolute;
  bottom: -3px;
  right: -3px;
}
.scanner-container {
  max-width: 100%;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background: #fff;
  text-align: center;
}

#video {
  width: 100%;
  border-radius: 8px;
}

#result {
  margin-top: 20px;
  font-size: 1.2em;
  color: #333;
}
