@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300&display=swap');

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
}
.scan{
  position: relative;
}
.box-demo{
  position: absolute;
  z-index: 200;
  top: 50%;
  left: 50%;
  width: 70%;
  aspect-ratio: 1;
  transform: translate(-50%, -50%);
  background-color: transparent;
  border-radius: 10px;
  /* Adjust the border-radius value to control the roundness of the corners */
  color: #fff;
  animation: zoom 0.7s ease-in infinite;
  text-align: center;
}
@keyframes zoom{
  0%{
    transform:translate(-50%, -50%) scale(1);
  }
  50%{
    transform:translate(-50%, -50%) scale(1.05);
  }
  100%{
    transform:translate(-50%, -50%)  scale(1);
  }
}
.scan .box-detect{
  position: absolute;
  z-index: 200;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.text-demo{
  color:#fff;
  position: absolute;
  top: 10%;
  width: 100%;
  text-align: center;
  z-index: 10;
  font-size: 18px;
  
}
.box-demo #top-left {
  position: absolute;
  transform: rotate(180deg);
  top: -3px;
  z-index: 10;
  left: -3px;
}
.box-demo #top-right {
  
  position: absolute;
  transform: rotate(-90deg);
  top: -3px;
  right: -3px;
  z-index: 10;

}

.box-demo #bottom-left {
  position: absolute;
  transform: rotate(90deg);
  bottom: -3px;
  left: -3px;
  z-index: 10;
  
}

.box-demo #bottom-right {
  position: absolute;
  bottom: -3px;
  right: -3px;
  z-index: 10;

}
.scanner-container {
  max-width: 100%;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background: #fff;
  text-align: center;
  
}

#video {
  width: 100vw;
  object-fit: cover;
  height: 100vh;
}

#result {
  margin-top: 20px;
  font-size: 1.2em;
  color: #333;
}
